@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

#todolist {
    background: linear-gradient(to right, #21639b, #3caea3);
    padding: 190px 40px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 700px;
    height: 685px;
    margin: 70px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    padding-top: 40px;
}

h2 {
    font-family: Poppins;
    color: #21639b;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 25px;
}

.middle-class {
    color: #3caea3;
}

#projects {
    width: 650px;
    height: 450px;
    margin: 0px auto;
}

li {
    font-size: 15px;
}

ol {
    margin-left: 15px;
}

ol li {
    border: 1px dotted #dddddd;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
}

ol li:hover {
    background: #eeeeee;
    transform: scale(1.02);
}

/* 'Add New Project' CTA Button */
#btnAddProject {
    margin-left: 555px;
    margin-bottom: 20px;
    background-color: #21639b;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 9px 11px 8px 11px;
    font-family: Poppins;
    font-size: 10px;
    color: #fff;
}

#btnAddProject:hover {
    background: #3caea3;
}

/* 'Add New Task' CTA Button */
#btnAddTask {
    margin-left: 575px;
    margin-top: 20px;
    background-color: #21639b;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 9px 11px 8px 11px;
    font-family: Poppins;
    font-size: 10px;
    color: #fff;
}

#btnAddTask:hover {
    background: #3caea3;
}

/* To Do List Projects Bar */
.ui-widget-header {
    background: #21639b;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    border: none;
    height: 43px;
}

/* 'Add New Project' Popup Content */
.ui-widget {
    font-family: Poppins;
    font-size: 10px;
}

/* All CTA Buttons */
.ui-button {
    font-size: 10px;
    color: #fff;
    background: #21639b;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/* All CTA Buttons Hover Effect */
.ui-button:hover {
    border: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background: #3caea3;
    color: #fff;
}

/* Project Tabs */
.ui-tabs-tab {
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.content-styling {
    width: 90% !important;
}

/* Project Name + Input Section */
#project-dialog {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Task Name + Input Section */
#task-dialog {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Popup 'Add New Task' Title */
.ui-dialog-title {
    color: #fff;
    font-family: Poppins;
    font-weight: 400;
    font-size: 25px;
}

/* Popup Project Name Label */
label {
    margin-right: 10px;
    font-size: 15px;
}

/* Popup Project Name Input */
#new-project {
    border-radius: 30px;
    width: 215px;
    height: 15px;
}

/* Popup Task Name Input */
#new-task {
    border-radius: 30px;
    width: 250px;
    height: 15px;
}

/* Close Pop Symbol */
.ui-dialog-titlebar-close {
    display: none;
}

/* Popup Bottom Section */
.ui-dialog-buttonpane {
    border-top: 1px dotted #dddddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Popup Entire Section */
.ui-dialog {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

/* Project Tabs Closing Symbol */
.ui-icon-close {
    transform: scale(1.2);
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    color: #21639b;
}

/* Tasks Edit and Remove Buttons */
.tasks-edit,
.tasks-delete {
    border: none;
    outline: none;
    background: none;
    margin-right: 7px;
    color: #21639b;
    float: right;
    /*border-radius: 5px;
    margin-left: 5px;
    border: none;
    background: #21639b;
    color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 3px 6px 3px 6px;*/
}

/* Tasks Edit and Remove Buttons Hover Effect*/
.tasks-delete:hover,
.tasks-edit:hover {
    color: #3caea3;
    /*background: #3caea3;
    color: #fff;*/
}

.book-icon {
    color: #21639b;
}

.book-icon:hover {
    color: #3caea3;
}

/* Tasks Before and After Space */
.task-text {
    margin-left: 4px;
    margin-right: 20px;
}

/* Book Icon Before and After Space */
.book-icon {
    margin-left: 5px;
    margin-right: 8px;
}

.checked {
    text-decoration: line-through;
}

/*---------------- STICKY SECTION ----------------*/
#sticky-section {
    background: linear-gradient(to right, #21639b, #3caea3);
    font-family: Poppins;
    font-size: 20px;
    height: 1000px;
    /* Fix this */
}

.main-container {
    width: 95%;
    margin: auto;
}

.container1 {
    margin-left: 2%;
}

.btn-style {
    border-radius: 30px;
    border: none;
    background: #fff;
    color: #21639b;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);

}

.container2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5%;
}

.container3 {
    /*display: none;*/
    position: absolute;
    top: 25%;
    left: 40%;
}

textarea {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border: none;
    outline: none;
    width: 275px;
    height: 275px;
    padding: 30px;
}

#check-icon,
#x-icon {
    color: #21639b;
}

#check-icon {
    position: absolute;
    right: 13%;
    top: 5%;
}

#x-icon {
    position: absolute;
    right: 5%;
    top: 5%;
}

/*---------------- BOOK LIST SECTION ----------------*/

#booklist {
    background: linear-gradient(to right, #21639b, #3caea3);
    padding: 190px 40px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.the-title {
    font-family: Poppins;
    color: #21639b;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 25px;
}

.container-two {
    width: 700px;
    height: 1000px;
    margin: 70px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    padding-top: 40px;
}

th {
    font-weight: 400;
}

.btn-styling {
    background-color: #21639b;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    font-family: Poppins;
    font-size: 15px;
    color: #fff;
    height: 43px;
    justify-content: center;
    align-items: center;
}

.btn-styling:hover {
    background: #3caea3;
}

.icon-styling {
    color: #21639b;
}

#book-form {
    margin: 30px;
}

.table {
    width: 93% !important;
    margin: auto;
}

#title,
#author,
#isbn,
#price {
    border-radius: 30px;
}

.trash-styling {
    color: #21639b;
}

.trash-styling:hover {
    color: #3caea3;
}

/*---------------- RECOMMENDED BOOKS ----------------*/

#books-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #21639b, #3caea3);
    overflow: hidden;
}

.card {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image""text""stats";

    /**border-top-right-radius: 30px;
    border-top-left-radius: 30px;**/

    font-family: Poppins;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    margin-top: 180px;
    margin-right: 80px;
    margin-bottom: 180px;
}

.card-image {
    grid-area: image;
    background: url(../images/book-inspired.jpg);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
    padding-top: 8px;
}

.card-text .author {
    color: #434343;
    font-size: 16px;
}

.card-text h3 {
    color: #21639b;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 1px;
    margin-bottom: 5px;
}

.card-text p {
    font-family: Poppins;
    font-size: 16px;
}

.subtitle {
    margin-bottom: 5px;
}

.category {
    color: #21639b;
    font-weight: 600;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #21639b;
    font-family: Poppins;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.card-stats .stat1,
.stat2,
.stat3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: #f5f6fa;
}

.card-stats .value {
    font-size: 20px;
}

.card-stats a {
    text-decoration: none;
    color: #f5f6fa;
}

.card-stats .stat1:hover {
    background: #3caea3;
    color: #fff;
    border-bottom-left-radius: 15px;
}

.card-stats .stat2:hover {
    background: #3caea3;
    color: #fff;
}

.card-stats .stat3:hover {
    background: #3caea3;
    color: #fff;
    border-bottom-right-radius: 15px;
}

.stat2 {
    border-left: 2px solid #f5f6fa;
    border-right: 2px solid #f5f6fa;
}

/*---------------- LIBRARY USING GOOGLE API ----------------*/

#book-library {
    background: linear-gradient(to right, #21639b, #3caea3);
    padding: 30px 40px 600px;
    justify-content: center;
    align-items: center;
}

#book-title {
    font-size: 50px;
    color: #fff;
    margin-bottom: 30px;
}

#search-box {
    border-radius: 30px;
    margin-right: 3px;
    border: none;
    outline: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

#search-button {
    border-radius: 30px;
    border: none;
    outline: none;
    background: #21639b;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

#search-button:hover {
    background: #3caea3;
}

.results-styling {
    font-size: 30px;
    color: #fff;
    font-weight: 300;
}

.book-list {
    margin-top: 50px;
    visibility: hidden;
}