@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');

* {
    font-family: Poppins;
}

#todolist {
    background: linear-gradient(to right, #21639b, #3caea3);
    padding: 190px 40px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 700px;
    height: 498px;
    margin: 70px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: #21639b;
    text-align: center;
}

#projects {
    width: 650px;
    height: 250px;
    margin: 0px auto;
}

li {
    font-size: 15px;
}

ol {
    margin-left: 15px;
}

ol li {
    border: 1px dotted #dddddd;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
}

ol li:hover {
    background: #eeeeee;
    transform: scale(1.02);
}

/* 'Add New Project' CTA Button */
#btnAddProject {
    margin-left: 575px;
    margin-bottom: 20px;
    background-color: #21639b;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 8px;
    padding-left: 11px;
    padding-right: 11px;
    font-family: Poppins;
    font-size: 10px;
    color: #fff;
}

#btnAddProject:hover {
    background: #3caea3;
}

/* 'Add New Task' CTA Button */
#btnAddTask {
    margin-left: 586px;
    margin-top: 20px;
    background-color: #21639b;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding-bottom: 8px;
    padding-top: 9px;
    padding-left: 11px;
    padding-right: 11px;
    font-family: Poppins;
    font-size: 10px;
    color: #fff;
}

#btnAddTask:hover {
    background: #3caea3;
}

/* To Do List Projects Bar */
.ui-widget-header {
    background: #21639b;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    border: none;
    height: 43px;
}

/* 'Add New Project' Popup Content */
.ui-widget {
    font-family: Poppins;
    font-size: 10px;
}

/* All CTA Buttons */
.ui-button {
    font-size: 10px;
    color: #fff;
    background: #21639b;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* All CTA Buttons Hover Effect */
.ui-button:hover {
    border: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background: #3caea3;
    color: #fff;
}

/* Project Tabs */
.ui-tabs-tab {
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* Project Name + Input Section */
#project-dialog {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Task Name + Input Section */
#task-dialog {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Popup 'Add New Task' Title */
.ui-dialog-title {
    color: #fff;
    font-family: Poppins;
    font-weight: 400;
    font-size: 25px;
}

/* Popup Project Name Label */
label {
    margin-right: 10px;
    font-size: 15px;
}

/* Popup Project Name Input */
#new-project {
    border-radius: 30px;
    width: 250px;
}

/* Popup Task Name Input */
#new-task {
    border-radius: 30px;
    width: 250px;
}

/* Close Pop Symbol */
.ui-dialog-titlebar-close {
    display: none;
}

/* Popup Bottom Section */
.ui-dialog-buttonpane {
    border-top: 1px dotted #dddddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Popup Entire Section */
.ui-dialog {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

/* Project Tabs Closing Symbol */
.ui-icon-close {
    transform: scale(1.2);
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    color: #21639b;
}

/* Tasks Edit and Remove Buttons */
.tasks-edit,
.tasks-delete {
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    background: #21639b;
    color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* Tasks Edit and Remove Buttons Hover Effect*/
.tasks-delete:hover,
.tasks-edit:hover {
    background: #3caea3;
    color: #fff;
}

/* Tasks Before and After Space */
.task-text {
    margin-left: 8px;
    margin-right: 8px;
}

.checked {
    text-decoration: line-through;
}